.friendDiv{
    display: flex;
}
.friends-area{
    width:70%;
}
.friendDiv .friends-about {
    margin-left: 20px;
    width: 30%;
    background: #fdfcfc;
    box-shadow: 0px 5px 5px #ab8b8b;
    text-align: center;
}